<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
	<!-- 连接数据库基本参数 -->
	<property name="connection.url">
		jdbc:mysql://localhost:3306/haohaowo
	</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>

	<!-- 数据库选择 -->

	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="current_session_context_class">thread</property>

	<!-- POJO类 -->
	<!-- 
	<mapping class="cn.haohaowo.entity.Account"/>
	<mapping class="cn.haohaowo.entity.Associate"/>
	<mapping class="cn.haohaowo.entity.Department"/>
	<mapping class="cn.haohaowo.entity.Function"/>
	<mapping class="cn.haohaowo.entity.InfoUpdate"/>
	<mapping class="cn.haohaowo.entity.Leave"/>
	<mapping class="cn.haohaowo.entity.Role"/>
	<mapping class="cn.haohaowo.entity.Salary"/>
	<mapping class="cn.haohaowo.entity.SalaryGroup"/>
	<mapping class="cn.haohaowo.entity.Url"/>
	<mapping class="cn.haohaowo.entity.User"/>
	-->
	
	<mapping class="cn.haohaowo.hibernate.user.User1" />
	<mapping class="cn.haohaowo.hibernate.user.User2" />
	<mapping class="cn.haohaowo.hibernate.user.Address" />
	<mapping class="cn.haohaowo.hibernate.user.Item" />
	<mapping class="cn.haohaowo.hibernate.user.Bid" />
	<mapping class="cn.haohaowo.hibernate.user.User3" />

	<!-- hbm.xml 映射 -->

	<mapping resource="cn/haohaowo/pojo/Picture.hbm.xml" />
	<mapping resource="cn/haohaowo/pojo/New.hbm.xml" />
	


</session-factory>

</hibernate-configuration>
